* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: serif, helvetica, arial;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #8b5689;
}

/** HEADER **/
#header-nav { /* nav tag  */
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
#header-container {  /* div clase container dentro del nav */
  width: 100%;
  background-color: #f6b319;
  padding: 0px;
  margin: 0px;
}
#header-navbar {
 background-color: #b7ffb8;
 width: 100%;
 margin: 0px;
 padding: 0px;
}
.navbar-brand {
  padding: 10px;
  padding-left: 40px;
}
.navbar-brand h1 {
  color: #1b682c;
  font-size: 2.0em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: .75;
}
.navbar-header a:hover, .navbar-header a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 0px;
  background-color: #E7E7E7;
}
#nav-list a {
  color: #cc0033;
  background: #E7E7E7;
  font-weight: bold;
  font-size: 1.7em;
  line-height: 0.8;
}
#nav-list a:hover, #nav-list a:focus {
  background: #6181d5;
}
/* END HEADER */

/* HOME PAGE */
#main-container {
  width: 100%;
}
#menu-title {
  font-size: 2.5em;
  font-weight: bold;
}
#main-row {
  width: 90%;
  height: 1000px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px 20px 30px 20px;
  background-color: #355d35;
}
#contenido {
  width: 100%;
}
/* END HOME PAGE */

/************************ DEVICES ****************************/

/********** Medium and Large devices (md/lg) **********/
@media (min-width: 992px) {
  .navbar-brand h1 {
  font-size: 2.4em;
  margin-top: 0px;
  }
}

/********** Small devices only (sm) **********/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand h1 {
    font-size: 2.2em;
  }
  #main-row {
    width: 80%;
  }
}

/********** Extra small devices only (xs) **********/
@media (max-width: 767px) {
  .navbar-nav {
    margin-bottom: 0px;
  }
  #main-row {
    width: 70%;
  }
}
